# ==========================================
# Gin Server
# ==========================================
HTTP_PORT=8080

# ==========================================
# Services
# ==========================================
USER_SERVICE_ADDR=localhost:50051

# ==========================================
# Cookies
# ==========================================
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
REFRESH_COOKIE_MAX_AGE_SECONDS=604800

# ==========================================
# Redis
# ==========================================
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_POOL_SIZE=10
REDIS_MIN_IDLE_CONNS=2
REDIS_CONN_MAX_IDLE=5m